.warning {
    color: #ca4d4d;
}

.right {
    text-align: right;
}

.bar {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    div {
        display: flex;
    }
}

tr {
    th:first-of-type {
        text-align: center;
        width: 4em;
        font-weight: bold;
    }
    td:first-of-type {
        text-align: center;
        width: 4em;
        font-weight: bold;
    }
    th:last-of-type {
        text-align: center;
        width: 4em;
    }
    td:last-of-type {
        text-align: center;
        width: 4em;
    }
}